@model IEnumerable<classlibrary.Busdetails>

@{
    ViewData["Title"] = "List";
}

<h1>Show</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverMobilenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fair)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoofPassenger)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BusID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverMobilenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fair)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoofPassenger)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.BusID}) |
                @Html.ActionLink("Details", "Details", new { name=item.BusName }) |
                @Html.ActionLink("Delete", "Delete", new { name=item.BusName })
            </td>
        </tr>
}
    </tbody>
</table>
